* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: white;
}

nav {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.06486344537815125) 9%, rgba(15, 88, 156, 1) 35%, rgba(15, 88, 156, 1) 100%);
    text-align: center;
    box-shadow: 1px 2px rgba(128, 128, 128, 0.28);

}

nav li {
    display: inline-block;

}


nav li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 25px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.086);

}

.Dropdown-menu {
    position: absolute;
    background-color: #0F589C;
    display: none;
    width: 171px;

}

.Dropdown-menu a {
    display: block;
    color: white;

}

.Dropdown:hover .Dropdown-menu {
    display: block;

}

.logo-att img {
    width: 140px;
    float: left;
    padding-left: 10px;
    padding: 5px;

}

#texto {
    text-align: center;
    margin-top: 110px;
    padding: 10px;
}

#subtexto {
    text-align: center;
    padding: 20px;
}


.cabecalho {
    text-align: center;
    padding: 30px;
    text-transform: capitalize;
    font-weight: bolder;
    margin-right: 270px;

}

.cabecalho2 {
    text-align: center;
    text-transform: capitalize;
    font-weight: bolder;
    margin-top: -45px;
    margin-left: 50px;


}

.cabecalho3 {
    text-align: center;
    padding: 30px;
    text-transform: capitalize;
    font-weight: bolder;
    margin-top: -45px;
    margin-left: 320px;

}

